body{background-color: #f5f5f5; font-family: 'Roboto', sans-serif;}
h1,h2,h3,nav a {color: #0e6626; font-family: 'Cinzel', serif;;}
nav a {text-decoration: none; margin-left: 10px; margin-right: 10px;}
nav a:hover {color: black;}
nav a:active{color: black;}
.welcome{text-align: center;}
.clear {clear: both;}
.homeimg {max-width: 100%; width: 90%; margin-right: auto; margin-left: auto; display: block;}
.flex1 {display: flex; flex-wrap: wrap;}
.contact {margin-left:100px; order:1; margin-top: 90px;}
.map {margin: 20px; order:2; border-radius: 10px; max-width: 100%; margin-right: 100px;}
footer {background-color: #0e6626; color: #f5f5f5; padding: 15px; margin-left: -10px; margin-right: -10px; text-align: center;}
p {line-height: 1.5em; font-size: 1.1em;}
.logo{max-width: 100%; float: left; width: 50%;}
.about, .info {margin-left: 100px; margin-right: 100px;}
a {color: #0e6626;}
.active {text-decoration: underline;}